extends layouts/main.pug
include mixins/videoBlock.pug

block content
    .videos
        each video in videos
            +videoBlock({
                videoFile : video.videoFile,
                title : video.title,
                views : video.views,
                id : video.id
            })