extends layouts/main.pug

block content
    .form__container
        form(action=routes.login method="post")
            input(type="text" name="name" placeholder="Full Name" required=true)
            input(type="text" name="Password" placeholder="Password" required=true)
            input(type="submit" value="Login")
        include partials/socialLogin